.container-valores {
    background: linear-gradient(to right, #602097, #9578ca);
    color: white;
    border-radius: 15px;
    width: 800px;
    margin: 100px auto;
    padding: 50px;
}

.valores {
    display: flex;
    gap: 50px;
    justify-content: center;
}

#titulo-valores {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid white;
    
}

.botao-enviar-valores {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 10px;
}