body{
    background-color: #2e002e;
    background: linear-gradient(to right, #2e002e, #5a005a); 
    font-family: Arial, sans-serif;
}

.container-co {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 0 auto; 
    margin-top: 100px;
    background-color: #7e097e;
    width: 800px;
    padding: 15px;
    border-radius: 15px;
    color: #fff;
}

.container-co form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 70%; 
    gap: 10px; 
    padding: 20px; 
    
    
}

.co-header {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    position: relative;  
}

.co-header button {
    position: absolute;
    left: 0;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.co-header button:hover {
    background-color: #ff0000;
    opacity: 0.8;
}

.co-header h1 {
    margin: 0;
    flex: none;
}


.co-valores, .co-tempo {
    background-color: #5a005a;
    width: 100%;
    gap: 10px;
    padding: 50px;
    border-radius: 15px;

}

#calcular {
    background-color: #ff00ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
#calcular:hover {
    background-color: #038819;
    opacity: 0.8;
}

#pmeTempo, #pmeValor, #pmrTempo, #pmrValor {
    border: none;
    border-radius: 5px;
    display: col;
    
}